.metaverseIntroduction {
    .imageContainer {
        height: 300px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 15px;
    }
}
