.text-orange {
    color: #fdc657;
}

.custom-page-container {
    margin-top: 50px;
    padding-bottom: 120px;
}

.btn-orange {
    background: #fdc657;
    border-color: #fdc657;
}

.btn-orange:hover {
    opacity: 0.9;
}

.blue-colored-text {
    color: #08b8f1;
}

@media (max-width: 991px) {
    #responsive-navbar-nav {
        position: absolute;
        top: 60px;
        background: white;
        width: 100%;
        margin-left: -15px;
        z-index: 11111;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media (max-width: 767px) {
    #responsive-navbar-nav {
        padding-right: 15px;
        padding-left: 15px;
    }
}
