.text-orange {
    color: #fdc657;
}

.custom-page-container {
    margin-top: 50px;
    padding-bottom: 120px;
}

.btn-orange {
    background: #fdc657;
    border-color: #fdc657;
}

.btn-orange:hover {
    opacity: 0.9;
}

.blue-colored-text {
    color: #08b8f1;
}
