.header {
    nav {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.main {
    min-height: 90vh;

    p {
        line-height: initial;
    }
}

.footer {
    border-top: 2px solid black;
    background: #000000de;
    color: #dcd9d9;
    text-align: center;

    .disclaimer {
        color: red;
    }
}

